@charset "UTF-8";

@media screen and (max-width: 700px){
    body{
        text-align: center;
    }
    p{
        margin: auto;
    }
    header{
        flex-direction: column;
        margin: auto;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 38px;
    }
    form{
        margin: auto;
        width: 100%;
    }
    input{
        align-self: center;
    }

    img{
        display: none;
    }
    ul{
        text-align: center;
    }
}

@media screen and (max-width: 1130px){
    body{ 
        padding-top: 0px;
        font-size: 16px;
    }
    header{
        margin: auto;
    }
    h2{
        font-size: 2em;
    }
    img{
        width: 90%;
    }
    form{
        height: 40%;
    }
}

